-- ---------------------------------------------------------------------------------------------------------------------
-- index
-- ---------------------------------------------------------------------------------------------------------------------

SET search_path =
    {{ schema_network | sqlsafe }},
    public;

-- ---------------------------------------------------------------------------------------------------------------------
-- create table "network_edge_index"
-- ---------------------------------------------------------------------------------------------------------------------

CREATE TABLE IF NOT EXISTS network_edge_index AS (
    SELECT edge_id
    FROM network_edge
);

-- ---------------------------------------------------------------------------------------------------------------------
-- calculate "index"
-- ---------------------------------------------------------------------------------------------------------------------

ALTER TABLE network_edge_index DROP COLUMN IF EXISTS index_{{ profile_name | sqlsafe }}_ft;
ALTER TABLE network_edge_index DROP COLUMN IF EXISTS index_{{ profile_name | sqlsafe }}_tf;
ALTER TABLE network_edge_index DROP COLUMN IF EXISTS index_{{ profile_name | sqlsafe }}_ft_robustness;
ALTER TABLE network_edge_index DROP COLUMN IF EXISTS index_{{ profile_name | sqlsafe }}_tf_robustness;
{% if compute_explanation %}
    ALTER TABLE network_edge_index DROP COLUMN IF EXISTS index_{{ profile_name | sqlsafe }}_ft_explanation;
    ALTER TABLE network_edge_index DROP COLUMN IF EXISTS index_{{ profile_name | sqlsafe }}_tf_explanation;
{% endif %}

DROP TABLE IF EXISTS network_edge_index_tmp;
CREATE TABLE network_edge_index_tmp AS (
    WITH index_filtered as (SELECT a.edge_id,
           ft.index AS index_ft,
           tf.index AS index_tf,
           ft.index_robustness AS index_robustness_ft,
           tf.index_robustness AS index_robustness_tf
           {% if compute_explanation %}
               ,ft.index_explanation AS index_explanation_ft,
               tf.index_explanation AS index_explanation_tf
           {% endif %}
    FROM network_edge_index a
        JOIN network_edge_attributes b USING (edge_id),
        LATERAL calculate_index(
            b.bicycle_infrastructure_ft, {{ bicycle_infrastructure }},
            b.pedestrian_infrastructure_ft, {{ pedestrian_infrastructure }},
            b.designated_route_ft, {{ designated_route }},
            b.road_category, {{ road_category }},
            b.max_speed_ft, {{ max_speed }},
            b.max_speed_greatest, {{ max_speed_greatest }},
            b.parking_ft, {{ parking }},
            b.pavement, {{ pavement }},
            b.width, {{ width }},
            b.gradient_ft, {{ gradient }},
            b.number_lanes_ft, {{ number_lanes }},
            b.facilities, {{ facilities }},
            b.crossings, {{ crossings }},
            b.buildings, {{ buildings }},
            b.greenness, {{ greenness }},
            b.water, {{ water }},
            b.noise, {{ noise }}
        ) ft,
        LATERAL calculate_index(
            b.bicycle_infrastructure_tf, {{ bicycle_infrastructure }},
            b.pedestrian_infrastructure_tf, {{ pedestrian_infrastructure }},
            b.designated_route_tf, {{ designated_route }},
            b.road_category, {{ road_category }},
            b.max_speed_tf, {{ max_speed }},
            b.max_speed_greatest, {{ max_speed_greatest }},
            b.parking_tf, {{ parking }},
            b.pavement, {{ pavement }},
            b.width, {{ width }},
            b.gradient_tf, {{ gradient }},
            b.number_lanes_tf, {{ number_lanes }},
            b.facilities, {{ facilities }},
            b.crossings, {{ crossings }},
            b.buildings, {{ buildings }},
            b.greenness, {{ greenness }},
            b.water, {{ water }},
            b.noise, {{ noise }}
        ) tf
    WHERE 
        false
        {%if access_car %}
            OR b.access_car_ft OR b.access_car_tf
        {% endif %}
        {% if access_bike %}
            OR b.access_bicycle_ft OR b.access_bicycle_tf
        {% endif %}
        {% if access_walk %}
            OR b.access_pedestrian_ft OR b.access_pedestrian_tf
        {% endif %}
    )
    SELECT a.*,  
            b.index_ft AS index_{{ profile_name | sqlsafe }}_ft,  
            b.index_tf AS index_{{ profile_name | sqlsafe }}_tf,
            b.index_robustness_ft AS index_{{ profile_name | sqlsafe }}_ft_robustness,
            b.index_robustness_tf AS index_{{ profile_name | sqlsafe }}_tf_robustness
            {% if compute_explanation %}
                ,b.index_explanation_ft AS index_{{ profile_name | sqlsafe }}_ft_explanation,
                b.index_explanation_tf AS index_{{ profile_name | sqlsafe }}_tf_explanation
            {% endif %}
    FROM network_edge_index a 
    LEFT JOIN index_filtered b 
    USING (edge_id)
);

DROP TABLE network_edge_index;
ALTER TABLE network_edge_index_tmp RENAME TO network_edge_index;

ALTER TABLE network_edge_index ADD PRIMARY KEY (edge_id);